user: wmb
ssh_key: ~/.ssh/id_rsa
forgejo_token: ""
theme: wilson   # legacy/default dark theme
themes:
  dark: wilson
  light: doric-earth

hosts:
  nginx:         192.168.x.x
  podman-server: 192.168.x.x
  coredns:       192.168.x.x
  postgres:      192.168.x.x
  vm:            192.168.x.x
  redis:         192.168.x.x
