#!/bin/sh
#xrandr --output eDP-1 --scale-from 2016x1260
if [ "$(hostname)" = 'asahibook' ]; then
    xrandr --output eDP-1 --dpi 144
fi;

# Kill polybar if it's already running


if xrandr --query | grep "DP-1" | grep -v "eDP-1" | grep -q " connected "; then
    bspc monitor DP-1 -d "(first)" "(second)" "(third)"
    bspc monitor eDP-1 -d  "(fourth)" "(fifth)"
else
    bspc monitor -d "(first)" "(second)" "(third)" "(fourth)" "(fifth)"
fi

bspc config border_width 1
bspc config focused_border_color {{active}}
bspc config normal_border_color {{normal-border}}
bspc config window_gap 8
bspc config split_ratio 0.55
bspc config borderless_monocle true
bspc config gapless_monocle true
bspc rule -a brave desktop=^3
bspc rule -a emacs desktop=^1
bspc rule -a ghostty desktop=^2
# Kill picom if it's already running
pgrep -x picom > /dev/null && killall picom

# Kill dunst if it's already running
pgrep -x dunst > /dev/null && killall dunst

# Kill feh if it's already running
pgrep -x feh > /dev/null && killall feh

# Kill battery daemon if it's already running
pkill -f "battery" > /dev/null; true

pgrep -x polybar > /dev/null && killall polybar

# Start picom
picom --config ~/.config/picom/picom.conf &

# Start dunst
dunst_config="$HOME/.config/dunst/theme-dunstrc"
test -f "$dunst_config" || dunst_config="$HOME/.config/dunst/dunstrc"
dunst --config "$dunst_config" &

# Start feh
feh --bg-scale ~/.config/wallpapers/wallpaper-10.jpg &

# Start battery daemon
battery --daemon &

# Start polybar
bash ~/.local/bin/polybar.sh any

# Start Emacs if it's not already running

if ! pgrep -x "emacs" > /dev/null
then
   emacs --daemon --eval "(progn (select-frame (make-frame-on-display \":0\")) (make-frame-invisible))" &
fi

sxhkd &

if [ "$(hostname)" = 'desktop' ]; then
    setxkbmap -layout us -variant dvorak &
else
    setxkbmap -layout us -variant dvorak -option ctrl:nocaps -option altwin:meta -option ctrl:swap_lalt_lctl &    
fi;
xrdb -merge ~/.Xresources &
test -f ~/.config/theme.Xresources && xrdb -merge ~/.config/theme.Xresources &
