[global]
    # Font and transparency
    font = {{font}} 15

[frame]
    # Frame border
    width = 2
    color = {{black}}

[urgency_low]
    background = {{black}}  # black with transparency
    foreground = {{green}}   # green
    timeout = 10
    frame_color = #000000
    separator_color = #101010

[urgency_normal]
    background = {{black}}
    foreground = {{white}}    # white
    timeout = 10
    frame_color = {{green}}   # green border
    separator_color = #101010

[urgency_critical]
    background = {{black}}
    foreground = {{red}}   # red
    timeout = 0             # sticky until dismissed
    frame_color = #C68689
    separator_color = #C68689
