[global]
    font = "{{font}} 13"
    separator_color = "#101010"
    horizontal_padding = 0
    padding = 0
    frame_width = 5
    gap_size = 0
    origin = top-center
    alignment = center

[urgency_low]
    background = "{{black}}"
    foreground = "{{green}}"
    frame_color = "{{black}}"
    timeout = 10

[urgency_normal]
    background = "{{black}}"
    foreground = "{{white}}"
    frame_color = "{{green}}"
    timeout = 10

[urgency_critical]
    background = "{{black}}"
    foreground = "{{red}}"
    frame_color = "{{red}}"
    timeout = 0