##################################
#  ____________________________
# (   _________________________)
#  ) (__  _  _  _    _
# (   __)( \/ )( \/\/ )/\/\
#  ) (    \  /  \    //    \
# (___)    \/    \/\/(_/\/\_) 3
#
#  Minimal-ish FVWM3 config (Doric Beach / Plan 9-ish tool stack)
#  Layout: left "tool stack" (NOT a full bar)
#    - xclock (top-left)
#    - xload  (under clock)
#    - PagerDock (under xload)
#    - IconManDock (window list under pager)
#
##################################

InfoStoreAdd terminal urxvtc

# Run command (Meta+Space / Super+Space)
# InfoStoreAdd runcmd "dmenu.sh"

# InfoStoreAdd runcmdopt ""

InfoStoreAdd runcmd "bash"

InfoStoreAdd runcmdopt "dmenu.sh"


DesktopConfiguration global

###########
# 1: Functions
###########

DestroyFunc StartFunction
AddToFunc   StartFunction
+ I Test (Init) InitBackground

# --- Left panel (window list + pager + xclock + xload) ---
+ I Module FvwmButtons LeftPanel
+ I Module FvwmMFL

+ I Module FvwmEvent EventNewDesk
+ I Test (Init) Exec exec dunst --config ~/.config/dunst/dunstrc &

+ I Test (Init) Exec exec xsetroot -cursor_name left_ptr
+ I Test (Init) Exec exec battery --daemon &
+ I Test (Init) Exec exec datetime --daemon &
+ I Test (Init) Exec exec screen_setup --daemon &
+ I Test (Init) Exec exec sh -c 'systemctl --user import-environment DISPLAY XAUTHORITY PATH XDG_RUNTIME_DIR DBUS_SESSION_BUS_ADDRESS 2>/dev/null; emacs --daemon --eval "(progn (select-frame (make-frame-on-display \":0\")) (make-frame-invisible))"; until emacsclient -e t 2>/dev/null; do sleep 0.5; done; emacsclient -c > /dev/null' &
+ I Test (Init) Exec exec xrdb -merge ~/.Xresources &
+ I Test (Init) Exec exec clipmenud &
+ I Test (Init) Exec exec libinput-gestures &
+ I Test (Init) Exec exec kbd --sync &
+ I Test (Init) Exec exec xsetroot -solid "{{background}}" &
+ I Test (Init) Exec exec urxvtd -q -o -f &

DestroyFunc RaiseMoveX
AddToFunc RaiseMoveX
+ I Raise
+ M $0
+ D $1

DestroyFunc RaiseMove
AddToFunc RaiseMove
+ I Raise
+ M $0

DestroyFunc MoveToCurrent
AddToFunc MoveToCurrent
+ I ThisWindow MoveToPage
+ I ThisWindow MoveToDesk

DestroyFunc ViewManPage
AddToFunc   ViewManPage
+ I Exec exec $[infostore.terminal] -g 80x40 \
  -n "Manual Page - $0" -T "Manual Page - $0" -e man "$0"

DestroyFunc SetBG
AddToFunc   SetBG
+ I Test (f $[FVWM_USERDIR]/images/background/$0) \
    Exec exec fvwm-root $[FVWM_USERDIR]/images/background/$0
+ I TestRc (Match) Exec exec ln -fs images/background/$0 \
    $[FVWM_USERDIR]/.BGdefault
+ I TestRc (Match) Break
+ I Test (!f $[FVWM_DATADIR]/default-config/images/background/$0) Break
+ I Exec exec fvwm-root $[FVWM_DATADIR]/default-config/images/background/$0
+ I Exec exec ln -fs $[FVWM_DATADIR]/default-config/images/background/$0 \
    $[FVWM_USERDIR]/.BGdefault

DestroyFunc IconManClick
AddToFunc   IconManClick
+ I ThisWindow (Raised, !Shaded, !Iconic, CurrentPage, AnyScreen) Iconify
+ I TestRc (Match) Break
+ I ThisWindow WindowShade off
+ I ThisWindow Iconify off
+ I ThisWindow Raise
+ I ThisWindow (AcceptsFocus) FlipFocus

DestroyFunc ToggleTitle
AddToFunc   ToggleTitle
+ I ThisWindow (HasTitle) WindowStyle !Title
+ I TestRc (NoMatch) WindowStyle Title

DestroyFunc ChangeDesk
AddToFunc   ChangeDesk
+ I SendToModule FvwmButtons ChangeButton desk0 Colorset 10
+ I SendToModule FvwmButtons ChangeButton desk1 Colorset 10
+ I SendToModule FvwmButtons ChangeButton desk2 Colorset 10
+ I SendToModule FvwmButtons ChangeButton desk3 Colorset 10
+ I SendToModule FvwmButtons ChangeButton desk$0 Colorset 11


#############
# 2: Styles #
#############

DesktopName 0 Main
DesktopName 1 Desk1
DesktopName 2 Desk2
DesktopName 3 Desk3
DesktopName 4 Desk4

DesktopSize 2x2
EdgeResistance 0
EdgeScroll 0 0
EdgeThickness 1
Style * EdgeMoveDelay 350, EdgeMoveResistance 350

Style * Title

# No reserved "panel" space (tool stack floats)
EwmhBaseStruts 151 0 0 0
#EwmhBaseStruts 172 15 26 15

ClickTime 250
MoveThreshold 3

Style * SloppyFocus, MouseFocusClickRaises

DefaultFont "xft:{{font}}:Bold:size=10:antialias=True"

Style * MinOverlapPlacement, GrabFocusOff, !UsePPosition

Style * !MoveOpaque
Style * !ResizeOpaque, SnapAttraction 15 SameType ScreenAll, SnapGrid

Style * DecorateTransient, StackTransientParent
Style * !FPGrabFocusTransient, FPReleaseFocusTransient

Style * WindowShadeScrolls, WindowShadeSteps 10

IgnoreModifiers L25

Style * Colorset 1, HilightColorset 2
Style * BorderColorset 3
Style * HilightBorderColorset 3
Style * BorderWidth 1, HandleWidth 0, !FvwmBorder, !FirmBorder

# Disable icons from appearing on desktop.
Style * !Icon
Style * MiniIcon none
Style * !Handles

# Window Specific Styles
Style "Emacs" StartsMaximized
Style URxvt ResizeHintOverride
Style ConfirmQuit !Title, PositionPlacement Center, WindowListSkip, Layer 6
Style FvwmIdent WindowListSkip

# Sticky tool windows (Plan 9-ish stack)
Style LeftPanel   !Title, Borders, BorderWidth 1, !FvwmBorder, !Handles, Sticky, WindowListSkip, NeverFocus, Layer 6, PositionPlacement
# Style xclock      !Title, !Borders, !Handles, Sticky, WindowListSkip, NeverFocus, Layer 6
# Style xload       !Title, !Borders, !Handles, Sticky, WindowListSkip, NeverFocus, Layer 6

###########
# 3: Colorsets - {{name}}
###########

Colorset 0  fg {{foreground}}, bg {{background}}, hi {{bgAlt}}, sh {{bgAlt}}, Plain, NoShape
Colorset 1  fg {{foreground}}, bg {{background}}, hi {{bgAlt}}, sh {{bgAlt}}, Plain, NoShape
Colorset 2  fg {{background}}, bg {{active}},     hi {{activeAlt}}, sh {{activeAlt}}, Plain, NoShape
Colorset 3  fg {{activeAlt}}, bg {{activeAlt}}, hi {{activeAlt}}, sh {{activeAlt}}, Plain, NoShape
Colorset 4  fg {{active}},     bg {{active}},     hi {{active}},     sh {{active}},     Plain, NoShape

Colorset 5  fg {{foreground}}, bg {{background}}, hi {{bgAlt}},     sh {{bgAlt}},     Plain, NoShape
Colorset 6  fg {{background}}, bg {{active}},     hi {{activeAlt}}, sh {{activeAlt}}, Plain, NoShape
Colorset 7  fg {{comments}},   bg {{background}}, hi {{bgAlt}},     sh {{bgAlt}},     Plain, NoShape
Colorset 8  fg {{background}}, bg {{activeAlt}}, hi {{active}},     sh {{active}},     Plain, NoShape

Colorset 10 fg {{foreground}}, bg {{background}}, hi {{bgAlt}},     sh {{bgAlt}},     Plain, NoShape
Colorset 11 fg {{background}}, bg {{active}},     hi {{activeAlt}}, sh {{activeAlt}}, Plain, NoShape
Colorset 12 fg {{background}}, bg {{olive}},      hi {{olive}},      sh {{olive}},      Plain, NoShape
Colorset 13 fg {{background}}, bg {{activeAlt}}, hi {{active}},     sh {{active}},     Plain, NoShape
Colorset 14 fg {{comments}},   bg {{bgAlt}},     hi {{selection}},  sh {{selection}},  Plain, NoShape


#######
# 4: Menus
###########

MenuStyle * MenuColorset 5, ActiveColorset 6, GreyedColorset 7, TitleColorset 8
MenuStyle * Hilight3DOff, HilightBack, HilightTitleBack, SeparatorsLong
MenuStyle * TrianglesSolid, TrianglesUseFore
MenuStyle * ItemFormat "%s%|%3.1i%5.3l%5l%5r%5.3>%|"
MenuStyle * Font "xft:{{font}}:Bold:size=10:antialias=True"
MenuStyle * IconsOff

DestroyMenu MenuFvwmRoot
AddToMenu   MenuFvwmRoot "{{user}}" Title
+ "$[gt.&Programs]"       Popup MenuPrograms
+ "&Tooling"              Popup MenuTooling
+ "$[gt.XDG &Menu]"       Popup XDGMenu
+ "&Vterm"                Exec exec $[infostore.terminal]
Test (x $[infostore.runcmd]) + "R&un Command" Exec exec $[infostore.runcmd] $[infostore.runcmdopt]
+ "" Nop
Test (x $[FVWM_MODULEDIR]/FvwmConsole) + "Fvwm&Console" Module FvwmConsole -terminal $[infostore.terminal]
Test (x FvwmPrompt) + "&FvwmPrompt" Exec exec $[infostore.terminal] -e FvwmPrompt
+ "$[gt.&Wallpapers]"     Popup BGMenu
+ "$[gt.M&an Pages]"      Popup MenuFvwmManPages
+ "$[gt.Cop&y Config]"    FvwmScript FvwmScript-ConfirmCopyConfig
+ "" Nop
+ "$[gt.Re&fresh]"        Refresh
+ "$[gt.&Restart]"        Restart
+ "$[gt.&Quit]"           Module FvwmScript FvwmScript-ConfirmQuit

PipeRead "fvwm-menu-desktop -e"

DestroyMenu MenuPrograms
AddToMenu   MenuPrograms "$[gt.Programs]" Title
Test (x librewolf)     + "Librewolf" Exec exec librewolf
Test (x chromium)      + "Chromium" Exec exec chromium
Test (x firefox)       + "Firefox"  Exec exec firefox
Test (x brave)         + "Brave"    Exec exec brave
Test (x discord)       + "Discord"  Exec exec brave --app=https://discord.com
Test (x slack)         + "Slack"    Exec exec slack
Test (x files)         + "Files"    Exec exec pcmanfm
Test (x google-chrome) + "Google-Chrome" Exec exec google-chrome
Test (x gvim)          + "gVim"     Exec exec gvim
Test (x emacs)         + "Emacs"    Exec exec emacs
Test (x emacsclient)   + "Emacs[Client]" Exec exec emacsclient -c > /dev/null
Test (x datagrip)      + "Datagrip" Exec exec datagrip
Test (x gimp)          + "Gimp"     Exec exec gimp
Test (x vlc)           + "VLC"      Exec exec vlc

DestroyMenu MenuTooling
AddToMenu   MenuTooling "Tooling" Title
Test (x librewolf)     + "Browser"       Exec exec librewolf
Test (x emacsclient)   + "Editor"        Exec exec emacsclient -c -a emacs > /dev/null
Test (x urxvtc)        + "Terminal"      Exec exec urxvtc
+ "" Nop
Test (x bluetoothctl)  + "Bluetooth"     Exec exec $[infostore.terminal] -title bluetoothctl -e bluetoothctl
Test (x pulsemixer)    + "Volume"        Exec exec $[infostore.terminal] -title pulsemixer -e pulsemixer
Test (x keys)          + "Keys"          Exec exec $[infostore.terminal] -title keys -e keys
+ "" Nop
Test (x backlight)     + "Backlight -"   Exec exec backlight --decrease
Test (x backlight)     + "Backlight +"   Exec exec backlight --increase
Test (x theme)         + "Theme Dark"    Exec exec theme dark
Test (x theme)         + "Theme Light"   Exec exec theme light
+ "" Nop
Test (x xsecurelock)   + "Lock"          Exec exec xsecurelock
+                        "Reboot"         Exec exec $[infostore.terminal] -title reboot -geometry 70x5+150+0 -e loksh -c "echo 'You are about to reboot your machine' && echo && doas reboot"
+                        "Poweroff"       Exec exec $[infostore.terminal] -title poweroff -geometry 70x5+150+0 -e loksh -c "echo 'You are about to poweroff your machine' && echo && doas poweroff"
+ "" Nop

DestroyMenu BGMenu
AddToMenu   BGMenu "$[gt.Wallpapers]" Title
+ "$[gt.Floral]"  SetBG bg1.png
+ "$[gt.Circles]" SetBG bg2.png
+ "$[gt.Space]"   SetBG bg3.png

DestroyMenu MenuWindowOps
AddToMenu   MenuWindowOps
+ "$[gt.Move]"         Move
+ "$[gt.Resize]"       Resize
+ "$[gt.(De)Iconify]"  Iconify
+ "$[gt.(Un)Maximize]" Maximize
+ "$[gt.(Un)Shade]"    WindowShade
+ "$[gt.(Un)Stick]"    Stick
+ "" Nop
+ "$[gt.Close]"   Close
+ "$[gt.More]..." Menu MenuWindowOpsLong This 0 0

DestroyMenu MenuWindowOpsLong
AddToMenu   MenuWindowOpsLong "$[gt.Window Ops]" Title
+ "$[gt.Move]"              Move
+ "$[gt.Resize]"            Resize
+ "$[gt.(De)Iconify]"       Iconify
+ "$[gt.(Un)Maximize]"      Maximize
+ "$[gt.(Un)Shade]"         WindowShade
+ "$[gt.(Un)Sticky]"        Stick
+ "$[gt.(No)Title Bar]"     Pick (CirculateHit) ToggleTitle
+ "$[gt.Send To]"           Popup MenuSendTo
+ "" Nop
+ "$[gt.Close]"             Close
+ "$[gt.Destroy]"           Destroy
+ "" Nop
+ "$[gt.Raise]"             Raise
+ "$[gt.Lower]"             Lower
+ "" Nop
+ "$[gt.Stays On Top]"      Pick (CirculateHit) Layer 0 6
+ "$[gt.Stays Put]"         Pick (CirculateHit) Layer 0 4
+ "$[gt.Stays On Bottom]"   Pick (CirculateHit) Layer 0 2
+ "" Nop
+ "$[gt.Identify]"          Module FvwmIdent

DestroyMenu MenuIconOps
AddToMenu   MenuIconOps
+ "$[gt.(De)Iconify]"  Iconify
+ "$[gt.(Un)Maximize]" Maximize
+ "$[gt.(Un)Shade]"    WindowShade
+ "$[gt.(Un)Sticky]"   Stick
+ "$[gt.(No)TitleBar]" Pick (CirculateHit) ToggleTitle
+ "$[gt.Send To]"      Popup MenuSendTo
+ "" Nop
+ "$[gt.Close]"        Close
+ "$[gt.Destroy]"      Destroy
+ "" Nop
+ "$[gt.Raise]"        Raise
+ "$[gt.Lower]"        Lower
+ "" Nop
+ "$[gt.Stays On Top]"    Pick (CirculateHit) Layer 0 6
+ "$[gt.Stays Put]"       Pick (CirculateHit) Layer 0 4
+ "$[gt.Stays On Bottom]" Pick (CirculateHit) Layer 0 2
+ "" Nop
+ "$[gt.Identify]"        Module FvwmIdent

DestroyMenu MenuSendTo
AddToMenu MenuSendTo
+ "$[gt.Current]" MoveToCurrent
+ "$[gt.Page]"    PopUp MenuSendToPage
+ "$[gt.Desk]"    PopUp MenuSendToDesk

DestroyMenu MenuSendToDesk
AddToMenu   MenuSendToDesk
+ "$[gt.Desk] 0" MoveToDesk 0 0
+ "$[gt.Desk] 1" MoveToDesk 0 1
+ "$[gt.Desk] 2" MoveToDesk 0 2
+ "$[gt.Desk] 3" MoveToDesk 0 3

DestroyMenu MenuSendToPage
AddToMenu   MenuSendToPage
+ "$[gt.Page] (0,0)" MoveToPage 0 0
+ "$[gt.Page] (0,1)" MoveToPage 0 1
+ "$[gt.Page] (1,0)" MoveToPage 1 0
+ "$[gt.Page] (1,1)" MoveToPage 1 1

DestroyMenu MenuFvwmManPages
AddToMenu   MenuFvwmManPages "Help" Title
+ "fvwm3"         ViewManPage fvwm3
+ "fvwm3commands" ViewManPage fvwm3commands
+ "fvwm3styles"   ViewManPage fvwm3styles
+ "fvwm3menus"    ViewManPage fvwm3menus
+ "fvwm3all"      ViewManPage fvwm3all
+ "" Nop
+ "FvwmAnimate"   ViewManPage FvwmAnimate
+ "FvwmAuto"      ViewManPage FvwmAuto
+ "FvwmBacker"    ViewManPage FvwmBacker
+ "FvwmButtons"   ViewManPage FvwmButtons
+ "FvwmCommand"   ViewManPage FvwmCommand
Test (x $[FVWM_MODULEDIR]/FvwmConsole) + "FvwmConsole" ViewManPage FvwmConsole
+ "FvwmEvent"     ViewManPage FvwmEvent
+ "FvwmIconMan"   ViewManPage FvwmIconMan
+ "FvwmIdent"     ViewManPage FvwmIdent
+ "FvwmPager"     ViewManPage FvwmPager
+ "FvwmPerl"      ViewManPage FvwmPerl
Test (x FvwmPrompt) + "FvwmPrompt" ViewManPage FvwmPrompt
+ "FvwmRearrange" ViewManPage FvwmRearrange
+ "FvwmScript"    ViewManPage FvwmScript
+ "" Nop
+ "fvwm-root"           ViewManPage fvwm-root
+ "fvwm-menu-desktop"   ViewManPage fvwm-menu-desktop
+ "fvwm-menu-directory" ViewManPage fvwm-menu-directory
+ "fvwm-menu-xlock"     ViewManPage fvwm-menu-xlock


#######
# 5: Mouse and Key bindings
####################

Silent Key F1   A M Menu MenuFvwmRoot
Silent Key Menu A A Menu MenuFvwmRoot

# Window list (Super+Tab and Alt+Tab)
#Silent Key Tab A 4 WindowList Root 0 0 \
#    NoIcons, NoDeskSort, SelectOnRelease Meta_L, CurrentAtEnd
Silent Key Tab A M WindowList Root c c \
    NoIcons, NoGeometry, NoDeskSort, SelectOnRelease Meta_L, CurrentAtEnd, TruncateLabel 76
Silent Key Tab A 4 WindowList Root c c \
    NoIcons, NoGeometry, NoDeskSort, SelectOnRelease Meta_L, CurrentAtEnd, TruncateLabel 76

# Cycle windows (Super + o)
Silent Key o A 4 Next (CurrentPage, AcceptsFocus) Focus

# Desktop navigation (Super + number)
Silent Key 1 A 4 GotoDesk 0 0
Silent Key 2 A 4 GotoDesk 0 1
Silent Key 3 A 4 GotoDesk 0 2
Silent Key 4 A 4 GotoDesk 0 3
Silent Key 5 A 4 GotoDesk 0 4

# Move window to desktop (Super + Shift + number)
Silent Key 1 A 4S MoveToDesk 0 0
Silent Key 2 A 4S MoveToDesk 0 1
Silent Key 3 A 4S MoveToDesk 0 2
Silent Key 4 A 4S MoveToDesk 0 3
Silent Key 5 A 4S MoveToDesk 0 4

# Maximize / management
Silent Key space A 4S Maximize 100 100
Silent Key q     A 4  Close
Silent Key f     A 4S Maximize
Silent Key r     A 4S Raise
Silent Key m     A 4S Lower

# Page cycling (Super + n/p) — linear order: (0,0)->(0,1)->(1,0)->(1,1)
Silent Key n A 4 Exec exec sh -c 'idx=$(( $[FVWM_PAGE_X] * 2 + $[FVWM_PAGE_Y] )); idx=$(( (idx + 1) % 4 )); FvwmCommand "GotoPage $(( idx / 2 )) $(( idx % 2 ))"'
Silent Key p A 4 Exec exec sh -c 'idx=$(( $[FVWM_PAGE_X] * 2 + $[FVWM_PAGE_Y] )); idx=$(( (idx + 3) % 4 )); FvwmCommand "GotoPage $(( idx / 2 )) $(( idx % 2 ))"'

# Page navigation (Super + Ctrl + number)
Silent Key 1 A 4C GotoPage 0 0
Silent Key 2 A 4C GotoPage 0 1
Silent Key 3 A 4C GotoPage 1 0
Silent Key 4 A 4C GotoPage 1 1

# Move window between pages (Super + Shift + Ctrl + number)
Silent Key 1 A 4CS MoveToPage 0 0
Silent Key 2 A 4CS MoveToPage 0 1
Silent Key 3 A 4CS MoveToPage 1 0
Silent Key 4 A 4CS MoveToPage 1 1

# Emacs-style window movement by 25% (Super + Alt + f/b/n/p)
Silent Key f WTSF 4M AnimatedMove w+25p keep
Silent Key b WTSF 4M AnimatedMove w-25p keep
Silent Key n WTSF 4M AnimatedMove keep w+25p
Silent Key p WTSF 4M AnimatedMove keep w-25p

# Emacs-style window resizing by 25% (Super + Ctrl + Alt + f/b/n/p)
Silent Key f WTSF 4CM Resize w+25p keep
Silent Key b WTSF 4CM Resize w-25p keep
Silent Key n WTSF 4CM Resize keep w+25p
Silent Key p WTSF 4CM Resize keep w-25p

Silent Key Return A 4 Exec exec $[infostore.terminal]
Test (x $[infostore.runcmd]) Silent Key Space A 4 Exec exec $[infostore.runcmd] $[infostore.runcmdopt]

Silent Key backslash A 4 ToggleLeftPanel

Silent Key w A 4  WindowList Root c c NoIcons, AllDesks, TruncateLabel 76
Silent Key k A 4  Exec exec kbd
Silent Key e A 4  Exec exec emacsclient -c -a emacs > /dev/null
Silent Key b A 4S Exec exec battery -n
Silent Key l A 4S Exec exec xsecurelock

Silent Key XF86MonBrightnessDown A A Exec exec backlight --decrease
Silent Key XF86MonBrightnessUp   A A Exec exec backlight --increase

# Window Buttons
Mouse 1 1 A Menu MenuWindowOps Delete
Mouse 1 2 A Close
Mouse 1 2 A Destroy

# Super + Mouse bindings - move and resize anywhere in window
Mouse 1 W 4 Move
Mouse 3 W 4 Resize

Mouse 1 T    A RaiseMoveX Move Maximize
Mouse 1 FS   A RaiseMove Resize
Mouse 4 T    A WindowShade True
Mouse 5 T    A WindowShade False
Mouse 1 R    A Menu MenuFvwmRoot
Mouse 2 R    A WindowList
Mouse 3 R    A Menu MenuWindowOpsLong
Mouse 1 I    A RaiseMoveX Move "Iconify off"
Mouse 3 T    A Menu MenuWindowOps
Mouse 3 I    A Menu MenuIconOps

DestroyFunc HideLeftPanel
AddToFunc   HideLeftPanel
+ I KillModule FvwmButtons LeftPanel
+ I KillModule FvwmIconMan IconManDock
+ I KillModule FvwmPager PagerDock
# + I Exec exec pkill -9 xload
# + I Exec exec pkill -9 xclock
+ I EwmhBaseStruts 0 0 0 0
DestroyFunc ShowLeftPanel
AddToFunc   ShowLeftPanel
+ I Module FvwmButtons LeftPanel
+ I EwmhBaseStruts 151 0 0 0
#EwmhBaseStruts 172 15 26 15

DestroyFunc ToggleLeftPanel
AddToFunc   ToggleLeftPanel
+ I All (LeftPanel) HideLeftPanel
+ I TestRc (NoMatch) ShowLeftPanel

DestroyFunc ShuffleDir
AddToFunc   ShuffleDir
+ I Move shuffle layers $[w.layer] $[w.layer] snap windows $0
+ I WarpToWindow 50 50

Key Up      WTSF    CM  ShuffleDir up
Key Down    WTSF    CM  ShuffleDir down
Key Left    WTSF    CM  ShuffleDir left
Key Right   WTSF    CM  ShuffleDir right
Key Up      WTSF    CSM Maximize True 0 growup
Key Down    WTSF    CSM Maximize True 0 growdown
Key Right   WTSF    CSM Maximize True growright 0
Key Left    WTSF    CSM Maximize True growleft 0


#######
# 6: Window Decor
###########

TitleStyle Centered Height 24 -- Flat

ButtonStyle All ActiveUp Vector 5 15x15@4 15x85@3 85x85@3 85x15@3 \
                15x15@3 -- Flat
ButtonStyle All ToggledActiveUp Vector 5 15x15@4 15x85@3 85x85@3 \
                85x15@3 15x15@3 -- Flat
ButtonStyle All ActiveDown Vector 5 20x20@4 20x80@3 80x80@3 80x20@3 \
                20x20@3 -- Flat
ButtonStyle All ToggledActiveDown Vector 5 20x20@4 20x80@3 80x80@3 \
                80x20@3 20x20@3 -- Flat
ButtonStyle All ToggledInactive Vector 5 47x47@3 57x53@3 53x53@3 \
                53x47@3 47x47@3 -- Flat
ButtonStyle All Inactive Vector 5 47x47@3 57x53@3 53x53@3 53x47@3 \
                47x47@3 -- Flat
AddButtonStyle 1 Active Vector 5 45x45@3 55x45@3 55x55@3 45x55@3 45x45@3
AddButtonStyle 2 Active Vector 4 35x35@3 65x65@3 35x65@4 65x35@3
AddButtonStyle 4 Active Vector 8 30x70@3 30x30@3 70x30@3 70x70@3 30x70@3 \
                 30x50@4 50x50@3 50x70@3
AddButtonStyle 4 ToggledActiveUp Vector 8 30x70@3 30x30@3 70x30@3 70x70@3 \
                 30x70@3 50x30@4 50x50@3 70x50@3
AddButtonStyle 6 Active Vector 5 35x60@3 65x60@3 65x50@3 35x50@3 35x60@3
# Disable buttons
ButtonStyle 4 - All
ButtonStyle 6 - All

# Fix close button
Mouse 1 2 A Close
Mouse D 2 A Destroy
ButtonStyle All - Clear



############
# 7: Modules
#############

DestroyModuleConfig FvwmIdent:*
*FvwmIdent: Colorset 10
*FvwmIdent: Font "xft:{{font}}:size=12:antialias=True"

DestroyModuleConfig FvwmScript:*
*FvwmScript: DefaultColorset 10

# --- PagerDock (swallowed into LeftPanel) ---
DestroyModuleConfig PagerDock:*
*PagerDock: Colorset * 10
*PagerDock: HilightColorset * 13
*PagerDock: BalloonColorset * 10
*PagerDock: WindowColorsets 10 11
*PagerDock: Font None
*PagerDock: Balloons All
*PagerDock: BalloonFont "xft:{{font}}:Bold:size=10:antialias=True"
++*PagerDock: BallonYOffset +2
*PagerDock: WindowBorders
*PagerDock: MiniIcons false

# FvwmButtons - RightPanel
DestroyModuleConfig RightPanel:*
*RightPanel: Geometry 120x$[monitor.$[monitor.primary].height]-0+0@p
*RightPanel: Colorset 10
*RightPanel: Rows $[monitor.$[monitor.primary].height]
*RightPanel: Columns 120
*RightPanel: Frame 0
*RightPanel: Font "xft:{{font}}:Bold:size=12:antialias=True"
*RightPanel: (140x5, Frame 0)
*RightPanel: (10x20, Frame 0)
*RightPanel: (25x20, Id desk0, Title "0", Action (Mouse 1) GotoDesk 0 0, Colorset 11, ActiveColorset 12, Frame 0)
*RightPanel: (25x20, Id desk1, Title "1", Action (Mouse 1) GotoDesk 0 1, ActiveColorset 12, Frame 0)
*RightPanel: (25x20, Id desk2, Title "2", Action (Mouse 1) GotoDesk 0 2, ActiveColorset 12, Frame 0)
*RightPanel: (25x20, Id desk3, Title "3", Action (Mouse 1) GotoDesk 0 3, ActiveColorset 12, Frame 0)
*RightPanel: (10x20, Frame 0)
*RightPanel: (5x80, Frame 0)
*RightPanel: (110x80, Swallow FvwmPager 'Module FvwmPager *', Frame 0)
*RightPanel: (5x80, Frame 0)
*RightPanel: (120x5, Frame 0)
Test (x stalonetray) *RightPanel: (120x20, Swallow(NoClose,UseOld) \
    stalonetray 'Exec exec stalonetray --config \
    "$[FVWM_DATADIR]/default-config/stalonetrayrc"', Frame 0)
Test (x stalonetray) PipeRead 'echo "*RightPanel: (120x$(($[monitor.$[monitor.primary].height]-225)), \
    Top, Swallow FvwmIconMan \'Module FvwmIconMan\', Frame 0)"'
Test (!x stalonetray) PipeRead 'echo "*RightPanel: (120x$(($[monitor.$[monitor.primary].height]-205)),\
    Top, Swallow FvwmIconMan \'Module FvwmIconMan\', Frame 0)"'
*RightPanel: (120x45, Swallow(NoClose, UseOld) stalonetray \
               'Exec exec stalonetray', Frame 0)

*RightPanel: (120x45, Swallow DateTime 'Module FvwmScript FvwmScript-DateTime',\
    Frame 0)
*RightPanel: (120x5, Frame 0)

# --- LeftPanel (FvwmButtons wrapping window list, pager, xclock, xload) ---
DestroyModuleConfig LeftPanel:*
*LeftPanel: Geometry 150x$[monitor.$[monitor.primary].height]+0+0@p
*LeftPanel: Colorset 10
*LeftPanel: Rows $[monitor.$[monitor.primary].height]
*LeftPanel: Columns 150
*LeftPanel: Frame 0
*LeftPanel: Font "xft:{{font}}:Bold:size=10:antialias=True"
*LeftPanel: (150x24, Title "run", Action(Mouse 1) "Exec exec $[infostore.runcmd] $[infostore.runcmdopt]", Colorset 10, ActiveColorset 11, Frame 0)
*LeftPanel: (150x1, Colorset 3, Frame 0)
*LeftPanel: (150x24, Title "browser",  Action(Mouse 1) "Exec exec librewolf",               Colorset 10, ActiveColorset 11, Frame 0)
*LeftPanel: (150x24, Title "editor",   Action(Mouse 1) "Exec exec emacsclient -c -a emacs > dev/null", Colorset 10, ActiveColorset 11, Frame 0)
*LeftPanel: (150x24, Title "terminal", Action(Mouse 1) "Exec exec urxvtc",                  Colorset 10, ActiveColorset 11, Frame 0)
*LeftPanel: (150x24, Title "apps",     Action(Mouse 1) "WindowList Root c c NoIcons, AllDesks, TruncateLabel 76", Colorset 10, ActiveColorset 11, Frame 0)
*LeftPanel: (150x1, Colorset 3, Frame 0)
PipeRead 'echo "*LeftPanel: (150x$(($[monitor.$[monitor.primary].height]-794)), Top, Swallow(UseOld,NoClose) FvwmIconMan '\''Module FvwmIconMan IconManDock'\'', Frame 0)"'
*LeftPanel: (150x1, Colorset 3, Frame 0)
*LeftPanel: (50x24,  Title "bt",   Action(Mouse 1) "Exec exec $[infostore.terminal] -title bluetoothctl -e bluetoothctl", Colorset 10, ActiveColorset 11, Frame 0)
*LeftPanel: (50x24,  Title "vol",  Action(Mouse 1) "Exec exec $[infostore.terminal] -title pulsemixer -e pulsemixer",    Colorset 10, ActiveColorset 11, Frame 0)
*LeftPanel: (50x24,  Title "wifi", Action(Mouse 1) "Exec exec $[infostore.terminal] -title nmtui -e nmtui",              Colorset 10, ActiveColorset 11, Frame 0)
*LeftPanel: (150x24, Id kbdbtn, Title "kbd:dv", Action(Mouse 1) "Exec exec kbd",                                      Colorset 10, ActiveColorset 11, Frame 0)
PipeRead 'echo "*LeftPanel: (150x24, Title '\''help'\'', Action(Mouse 1) '\''Exec exec $[infostore.terminal] -title keys -geometry 100x$(($[monitor.$[monitor.primary].height]/18))+$(($[monitor.$[monitor.primary].width]/2-400))+0 -e keys'\'', Colorset 10, ActiveColorset 11, Frame 0)"'
*LeftPanel: (75x24,  Title "br-", Action(Mouse 1) "Exec exec backlight --decrease", Colorset 10, ActiveColorset 11, Frame 0)
*LeftPanel: (75x24,  Title "br+", Action(Mouse 1) "Exec exec backlight --increase", Colorset 10, ActiveColorset 11, Frame 0)
*LeftPanel: (75x24,  Title "dark",  Action(Mouse 1) "Exec exec theme dark",  Colorset 10, ActiveColorset 11, Frame 0)
*LeftPanel: (75x24,  Title "light", Action(Mouse 1) "Exec exec theme light", Colorset 14, ActiveColorset 13, Frame 0)
*LeftPanel: (150x24,  Title "lock", Action(Mouse 1) "Exec exec xsecurelock", Colorset 10, ActiveColorset 11, Frame 0)
*LeftPanel: (150x24, Id datetimebtn, Title "--- -- --:--", Action(Mouse 1) "Exec exec datetime", Colorset 10, ActiveColorset 11, Frame 0)
*LeftPanel: (150x24, Id battbtn, Title "bat:--", Action(Mouse 1) "Exec exec battery -n", Colorset 10, ActiveColorset 11, Frame 0)
*LeftPanel: (75x24, Title "reboot", Action(Mouse 1) 'Exec exec $[infostore.terminal] -title reboot -geometry 70x5+150+0 -e loksh -c "echo \'You are about to reboot your machine\' && echo && doas reboot"', Colorset 10, ActiveColorset 11, Frame 0)
*LeftPanel: (75x24, Title "poweroff", Action(Mouse 1) 'Exec exec $[infostore.terminal] -title poweroff -geometry 70x5+150+0 -e loksh -c "echo \'You are about to powerroff your machine\' && echo && doas poweroff"', Colorset 10, ActiveColorset 11, Frame 0)
*LeftPanel: (150x1, Colorset 3, Frame 0)

*LeftPanel: (150x150, Swallow(UseOld,NoClose) FvwmPager 'Module FvwmPager PagerDock', Frame 0)
# *LeftPanel: (150x150, Swallow(UseOld,NoClose) xload 'Exec exec xload -bg "#e0d8c7" -fg "#3a2018"', Frame 0)
# *LeftPanel: (150x150, Swallow(UseOld,NoClose) xclock 'Exec exec xclock -geometry 150x150 -bg "#e0d8c7" -fg "#3a2018"', Frame 0)

# --- IconManDock (swallowed into LeftPanel) ---
DestroyModuleConfig IconManDock:*
*IconManDock: ManagerGeometry 1x0
*IconManDock: ButtonGeometry 150x24
*IconManDock: Colorset 10
*IconManDock: FocusColorset 11
*IconManDock: SelectColorset 12
*IconManDock: DrawIcons never
*IconManDock: MiniIcons false
*IconManDock: ReliefThickness 0
*IconManDock: Format "%t"
*IconManDock: Font "xft:{{font}}:Bold:size=10:antialias=True"
*IconManDock: Action Mouse 1 A sendcommand IconManClick
*IconManDock: Action Mouse 3 A sendcommand "Menu MenuIconOps"
*IconManDock: Sort id
*IconManDock: Resolution global
*IconManDock: Tips needed

DestroyModuleConfig EventNewDesk:*
*EventNewDesk: PassID
*EventNewDesk: new_desk ChangeDesk

# Global no-icons policy (redundancy ok)
Style * IconOverride
MenuStyle * IconsOff

# Local configuration file hook
Test (f $[FVWM_USERDIR]/local.config) Read $[FVWM_USERDIR]/local.config
